body{ 
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color: #056676;
   background-image: linear-gradient(180deg, #056676 21%, #5eaaa8 52%, #a3d2ca 82%, #ffffff 92%, #e8ded2 93%);
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
 }
  
.globalwidth{
  width: 100%;
}
.header{

  height: 80px;
}

.header img{
  width: 100px;
  margin-bottom: 100px;
  margin-top: 10px;
  margin-left: 10px;
}


  